Sample use of context data from an XMLFILE data source

This is the class given to the XML doc
$XObject.getClass().toString()
$XObject.toString()
$XObject.get("tiers").toString()


#foreach ( $tier in $XObject.get("tiers").get("tier") )
    $tier.toString()
#end

